<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /akademik/gurumatapelajaran
RewriteRule ^akademik/gurumatapelajaran/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /akademik/gurumatapelajaran/index.html [L]
</IfModule>
